@page "/fetchdata"
@using RevisionClient.Models
@using RevisionClient.Services
@using RevisionClient.ViewModels


@inject RevisionClient.ViewModels.ViewModel ViewModel

<PageTitle>Produit</PageTitle>

<h1>Produit</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (ViewModel.Enrollments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom du produit</th>
                <th>Marque</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewModel.Enrollments)
            {
                <tr>
                    <td>@item.Status</td>
                    <td>@item.StudentName</td>
                    <td>@item.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadInitialData();
    }
}
